body {
    margin: 0;
    padding: 0;
    background-color: #111111;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #111111;
    padding: 15px 0;
}

.game_page
{
    padding: 40px 0;
    margin: 5px 0;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 25px;
}

.logo {
    float: left;
}

nav {
    float: right;
    margin-top: 30px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left; 
    display: block;
    margin-left: 44px;
}


.info .icon {
    float: left;
    width: 232px;
    height: 232px;
}

.info .icon img {
    border: 1px solid #5D5C5D;
    width: 232px;
    height: 232px;
    border-radius: 25%;
}

.info .description {
    margin-left: 25px;
    float: left;
}

.info h1 {
    font-size: 34px;
    margin: 0;
}

.info p a {
    color: #A7A7A7;
    font-size: 24px;
    margin: 22px 0 0 0;
}

.store-badges {
    margin: 50px 0 0 0;
    padding: 0;
    display: block;
}

.store-badges  li {
    float: left; 
    display: block;
    margin-right: 25px;
}

.store-badges li:last-child {
    margin-right: 0;
}

.store-badges li:hover {
    margin-top: -2px;
    margin-bottom: 2px;
}

.video {
    margin-top: 52px;
}

.video img {
    border: 1px solid #5D5C5D;
    width: 908px;
}

.screenshots {
    padding: 0;
    margin: 0;
    display: block;
}

.screenshots li {
    float: left;
    display: block;
    margin-top: 52px;
    margin-right: 26px;
}

.screenshots img {
    width: 206px;
    border: 1px solid #5D5C5D;
    border-radius: 10px;
}

.screenshots iframe {
    border: 1px solid rgb(0, 0, 0);
    background-color: #111111;
}

.screenshots li:last-child {
    margin-right: 0;
}

footer {
    background-color: #111111;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    color: #A7A7A7;
}

footer a {
    text-align: center;
    font-size: 18px;
    color: #F7F7F7;
}